* {
  box-sizing: border-box;
}


#calculator {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 425px;
  height: 533px;
  border: 7px solid rgba(47,47,47,1);
  border-radius: 10px;
  background-color: black;
}

#display {
  height: 110px;
  border: solid 5px black;
  background-color: #b2b9b7;
}

.flex-box {
  display: flex;
  height: 76px;
  gap: 5px;
  margin: 5px;
}

button {
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
    background-color: #217C7E;
    flex: 1;
    min-width: 95px;
}

button:hover {
  background-color: hsl(182, 55%, 45%)
}


#zero {
  flex-basis: 113.5px;
}

.operator {
  background-color: #FF8F1F;
  
}
.operator:hover {
  background-color: hsl(37, 89.66%, 70%)
}

.skyblue {
  background-color: dodgerblue;

}
.skyblue:hover {
  background-color: hsl(210, 100%, 70%);
}


  